{% extends "layout.html" %}
{% block body %}

<table width="830" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="208" height="200" align="right" valign="top" bgcolor="#B8B67D">
	<br>
	<table width="90%" border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td class="List2"><span onclick="javascript:location='about_us.html'" class="List2">公司概览</span></td>
      </tr>
	  <tr>
        <td class="List2"><span onclick="javascript:location='values.html'" class="List2">我们的价值观</span></td>
      </tr>
        <tr>
        <td class="List2"><span onclick="javascript:location='target.html'" class="List2">我们的目标</span></td>
      </tr>
    </table></td>
    <td align="center" valign="top" bgcolor="#FFFFFF">
	  <br>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:200%;font-size:12px"><p>
上锐韦森咨询有限公司是由从事管理咨询行业多年的资深人士创建，是一家服务国际跨国企业和国内快速发展企业的专业管理咨询服务机构，人才搜寻范围覆盖中国主要城市，是中国领先的人才搜寻服务公司之一。<p>


上锐韦森的顾问团队是由多位从事猎头服务多年的资深顾问所组成；为得是给客户提供更专业、更快速、更准确、质量更高的服务。<p>


上锐韦森可以在行业咨询层面，企业框架层面，人员发展层面给企业提供最专业的咨询，是企业和企业员工的的良师益友，人力资源合作伙伴。<p>


在这些领域（互联网、通讯、消费品、零售、市场研究，动漫等），每个高级顾问带领团队（顾问，搜寻调研员等）专注搜寻选才；某些职位如：总经理，总监，人事，销售，市场，财务，技术，采购，物流等。上锐韦森已经在中国为客户搜寻选才完成许多重要的职位，这些职位从高级管理层到中层主管级别及部分专业性职位。<p>


我们从涵盖各商业领域及职能范围的招聘工作中获得了丰富的经验。同时，我们也通过这些经验，证明了我们在中国多个城市的招聘委托操作能力。无论是从全球五百强的跨国公司，还是各类国内优秀的民营企业，又或是亟待蓬勃的新兴企业，都获得过我们优质的服务。<p>

我们的客户之所以选择上锐韦森，是因为我们能为他们提供准确高效而快速的人才招聘服务，通过我们卓越的服务表现与客户保持长期的合作关系。<p>

上锐韦森一直保持着快速而稳健的发展。在这个过程当中，我们对公司的定位有清晰的认知：人才推荐服务不是因应招聘的紧迫性而提供一些“应急人才”，而是尽我们所能，通过服务，为客户提供更多的价值——帮助我们的客户在生意及个人职业发展上获得成功。<p>

</p></td>
  </tr>
</table>
<br>
<br>
<br>

          </td>
        </tr>
      </table></td>
  </tr>
</table>
{% endblock %}