{% extends "layout.html" %}
{% block body %}

<table width="830" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="208" height="200" align="right" valign="top" bgcolor="#B8B67D">
	<br>
	<table width="90%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="List2"><a href="service_cn.html" class="List2">人才推荐服务</a></td>
      </tr>
	  <tr>
        <td class="List3"><a href="service_cn.html" class="STYLE8">服务流程</a></td>
      </tr>
	    <tr>
        <td class="List3"><a href="advantage_cn.html" class="STYLE8">我们的优势</a></td>
      </tr>
	    </tr>
	    <tr>
        <td class="List3"><a href="service_guarantee_cn.html" class="STYLE8">服务承诺</a></td>
      </tr>
	   <tr>
        <td class="List2"><a href="client_candidates_cn.html" class="List2">客户与候选人市场</a></td>
      </tr>
	   <tr>
        <td class="List2"><a href="achievements_cn.html" class="List2">业绩</a></td>
      </tr>
    </table></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="6" cellspacing="0">
      <tr>
        <td align="right"><a href="index_cn.html" class="STYLE7">首页</a> > <a href="service_cn.html" class="STYLE7">我们的服务</a> > <a href="service_cn.html" class="STYLE7">人才推荐服务</a> > <a href="advantage_cn.html" class="STYLE7">我们的优势</a></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="middle" style="padding-left:20px;"><span class="STYLE1">我们的优势</span></td>
          <td width="300" height="90"><img src="http://www.cipherkey.cn/Content/Home/images/our service.jpg" width="300" height="90"></td>
        </tr>
      </table>
	  <br>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:200%;font-size:12px"><p><b>深度熟悉中国本土市场：</b><br>
<li>无论一家顾问公司的全球化程度有多高，对客户的委托还是需要本土化的操作经验和专业知识。</li> <br>
<li>在中国成功案例，使我们积累了大量委托操作经验以及专业知识。</li><br>
<li>我们的服务经验覆盖了市场上主要的行业，地理区域以及客户类型。</li><p>



<b>充满凝聚力的团队：</b><br>
<li>极强的凝聚力的团队。 </li><br>
<li>我们通过内部培养的方式来发展公司，而没有采取与其它公司进行联盟或并购的方式进行扩张。这种方式保证了弗奇上信内部上下一致的管理理念和工作方式。</li><br>
<li>拥有独特的系统化的人员发展机制以及高效创新的信息分享机制。</li><br>
<li>弗奇上信内部的人员稳定性记录是业内最高的。因此，我们对客户的认识建立在深厚的积累基础上，这为长期合作的客户提供稳定的优质服务提供了保证。</li><p>


<b>信息管理系统：</b><br>
<li>我们开发了先进的信息管理系统来管理各类行业和人才信息。</li> <br>
<li>通过统一的系统平台进行快捷的信息分享和沟通，让我们能更为灵活地服务每一位客户，专注于每一个委托。</li><p>


<b>强大的本土人才资源网络：</b><br>
<li>拥有活跃于中国市场上超过20000名高素质候选人的人才信息 。</li><br>
<li>通过以往的成功案例，我们建立了覆盖中国区市场的各大城市，主要的行业及行业内各企业所拥有的人才资源网络。</li>

</p></td>
  </tr>
</table>
<br>
<br>
<br>

          </td>
        </tr>
      </table></td>
  </tr>
</table>
{% endblock %}