{% extends "layout.html" %}
{% block body %}

<table width="830" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="208" height="200" align="right" valign="top" bgcolor="#B8B67D">
	<br>
	<table width="90%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="List2"><a href="service_cn.html" class="List2">人才推荐服务</a></td>
      </tr>
	  <tr>
        <td class="List3"><a href="service_cn.html" class="STYLE8">服务流程</a></td>
      </tr>
	    <tr>
        <td class="List3"><a href="advantage_cn.html" class="STYLE8">我们的优势</a></td>
      </tr>
	    </tr>
	    <tr>
        <td class="List3"><a href="service_guarantee_cn.html" class="STYLE8">服务承诺</a></td>
      </tr>
	   <tr>
        <td class="List2"><a href="client_candidates_cn.html" class="List2">客户与候选人市场</a></td>
      </tr>
	   <tr>
        <td class="List2"><a href="achievements_cn.html" class="List2">业绩</a></td>
      </tr>
    </table></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="6" cellspacing="0">
      <tr>
        <td align="right"><a href="index_cn.html" class="STYLE7">首页</a> > <a href="service_cn.html" class="STYLE7">我们的服务</a> > <a href="client_candidates_cn.html" class="STYLE7">客户与候选人市场</a></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="middle" style="padding-left:20px;"><span class="STYLE1">客户与候选人市场</span></td>
          <!--<td width="300" height="90"><img src="/Content/Home/images/our service.jpg" width="300" height="90"></td>-->
        </tr>
      </table>
	  <br>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:200%;font-size:12px"><p>我们的客户主要是来自各行各业的欧洲及美国的各大跨国公司。近几年来，随着本土经济的飞速发展，我们也与本土的各类行业保持合作。
</p></td>
  </tr>
</table>
<br>
<br>
<br>

          </td>
        </tr>
      </table></td>
  </tr>
</table>
{% endblock %}