{% extends "layout.html" %}
{% block body %}

<table width="830" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="208" height="200" align="right" valign="top" bgcolor="#B8B67D">
	<br>
	<table width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="List2">联系我们</td>
      </tr>
    </table></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="6" cellspacing="0">
      <tr>
        <td align="right"><a href="index_cn.html" class="STYLE7">首页</a> > <a href="contact_cn.html" class="STYLE7">联系我们</a></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="middle" style="padding-left:20px;"><span class="STYLE1">联系我们</span></td>
          <td width="300" height="90"><img src="/Content/Home/images/contact us.jpg" width="300" height="90"></td>
        </tr>
      </table>
	  <br>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:200%;font-size:12px"><p>
我们提供覆盖中国经济最发达地区的人才搜寻服务。如果您在寻找新的职业发展机会，或希望成为我们的一员，请按照以下联系方式联系我们。<p>


<table cellpadding=10 cellspacing=0 border=0 width=98% align=center>
<tr valign=top>
<td width=170 align=center><img src="/Content/Home/images/beijing.jpg" width="150"  align="left">
</td>
<td style="line-height:200%;font-size:12px">
Address : 北京市海淀区中关村南大街甲6号铸诚大厦<br>
E-mail : &nbsp;&nbsp;&nbsp;<a href="mailto:c-hr@cipherkey.cn">c-hr@cipherkey.cn</a>
</td>
</tr>
<tr><td></td><td><br><br><br></td></tr>
<tr valign=top>
<td width=170 align=center><img src="/Content/Home/images/shanghai.jpg" width="150"  align="left">
</td>
<td style="line-height:200%;font-size:12px">
Address :上海市黄浦区云南南路261号百联房产大楼<br>
E-mail : &nbsp;&nbsp;&nbsp;<a href="mailto:c-hr@cipherkey.cn">c-hr@cipherkey.cn</a>
</td>
</tr>
</table>
<br><br><br><br>


</p></td>
  </tr>
</table>
<br>
<br>
<br>
</td>
        </tr>
      </table></td>
  </tr>
</table>
{% endblock %}