{% extends "layout.html" %}
{% block body %}


<table width="830" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="208" height="200" align="right" valign="top" bgcolor="#324868">
	<br>
	<table width="90%" border="0" cellspacing="0" cellpadding="0">
     <tr>
        <td class="List2"><a href="service_cn.html" class="List2">人才推荐服务</a></td>
      </tr>
	  <tr>
        <td class="List3"><a href="service_cn.html" class="STYLE8">服务流程</a></td>
      </tr>
	    <tr>
        <td class="List3"><a href="advantage_cn.html" class="STYLE8">我们的优势</a></td>
      </tr>
	    </tr>
	    <tr>
        <td class="List3"><a href="service_guarantee_cn.html" class="STYLE8">服务承诺</a></td>
      </tr>
	   <tr>
        <td class="List2"><a href="client_candidates_cn.html" class="List2">客户与候选人市场</a></td>
      </tr>
	   <tr>
        <td class="List2"><a href="achievements_cn.html" class="List2">业绩</a></td>
      </tr>
    </table></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="6" cellspacing="0">
      <tr>
        <td align="right"><a href="index_cn.html" class="STYLE7">首页</a> > <a href="service_cn.html" class="STYLE7">我们的服务</a> > <a href="service.html" class="STYLE7">人才推荐服务</a> > <a href="service_guarantee_cn.html" class="STYLE7">服务承诺</a></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="middle" style="padding-left:20px;"><span class="STYLE1">服务承诺</span></td>
          <td width="300" height="90"><img src="http://www.cipherkey.cn/Content/Home/images/our service.jpg" width="300" height="90"></td>
        </tr>
      </table>
	  <br>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:200%;font-size:12px"><p><b>客户需求分析</b><br>
我们强调对客户委托的深入分析，包括以书面方式提出问题，对委托进行全面的了解。这是保证高效地开展人才搜寻及后期协调工作的前提。一些客户甚至会根据我们提出的问题对自身的需求在招聘的初始阶段做出必要调整。<p>



<b>深入的市场调查</b><br>
我们相信，人才搜寻不仅仅是从现有的人才数据库中挑选简历，做出推荐。因此，我们对每一项委托都强调全面的目标市场调查与人才资源更新，以确保对目标人才的全面覆盖。<p>


<b>高效的结果反馈</b><br>
我们通常会在两个星期内为客户提供第一批候选人。对于我们有过类似委托操作经验的客户需求，我们的反馈会更为迅速。<p>


<b>搜寻进度报告</b><br>
必要时，我们会为客户提供我们搜寻过的公司和接触过的候选人的列表。目标公司和各候选人的背景信息都会包含在报告当中。我们相信这份报告不仅有助于客户内部关于招聘进展的沟通，还可以帮助客户有针对性地了解相关领域人才的市场状况。<p>


<b>保证</b><br>
候选人如在规定的试用期内离开客户公司,我们将在不收取额外费用的情况下，重新推荐其他合适的候选人。<p>


<b>限制原则</b><br>
我们保证不会招聘客户公司的人才，也绝不招募客户公司通过我们成功雇用的人才。.<p>


<b>保密协议</b><br>
所有关于客户的敏感资料都会作保密处理，只有在适当且必要的时候才会向候选人透露客户的相关资料。<p>

</p></td>
  </tr>
</table>
<br>
<br>
<br>

          </td>
        </tr>
      </table></td>
  </tr>
</table>
{% endblock %}