{% extends "layout.html" %}
{% block body %}


<table width="830" border="0" align="center" cellpadding="0" cellspacing="0">

    <tr>
    <td height="254" colspan="2" align="right" valign="top">
	<img src="{{ url_for('static', filename='pictures/vision.jpg') }}" width="829" height="254">
    </td>
  </tr>

  <tr>
    <td width="308" height="200" align="center" valign="top" bgcolor="#CBC98C">
        <table width="92%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="left" valign="top" class="List4" style="line-height:160%;padding-top:10px;padding-left:5px;">
                    <font color=#F08080>专注领域: </font> <br>
                    快速消费品，<br>
                    耐用消费品(服装,奢侈品等)，<br>
                    通讯通信计算机，<br>
                    医药生物工程，电子制造，<br>
                    零售百货，汽车制造业，<br>
                    能源石油化工，
                    互联网电子商务，
                    房地产建筑建材，
                    广告公关媒体
                </td>
            </tr>
        </table>
    </td>
    <td align="center" valign="top" bgcolor="#CBC98C" width="522" style="padding-top:15px;padding-bottom:10px">
        <table width="94%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" bgcolor="#B8B55B" style="padding-top:10px;padding-left:10px;"><font color=#F08080>关于我们</font></td>
      </tr>
      <tr>
        <td align="left" valign="top" bgcolor="#B8B55B" class="List4" style="line-height:160%;padding-top:5px;padding:10px;" height=145>上锐韦森咨询有限公司是由从事管理咨询行业多年的资深人士创建，是一家服务国际跨国企业和国内快速发展企业的专业管理咨询服务机构，人才搜寻范围覆盖中国主要城市，是中国领先的人才搜寻服务公司之一。<p>

上锐韦森的顾问团队是由多位从事猎头服务多年的资深顾问所组成；为得是给客户提供更专业、更快速、更准确、质量更高的服务。<p>

		  <div align="right">
              <span onclick="javascript:location='about_us.html'" class="bs"><u><font color=#F08080>更多</font></u></a>
		  </div>
          </td>
      </tr>
     </table>
    </td>
  </tr>
</table>
{% endblock %}