{% extends "layout.html" %}
{% block body %}


<table width="830" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="254" colspan="2" align="right" valign="top">
	<img src="http://www.cipherkey.cn/Content/Home/images/index_r2_c2_cn.png" width="829" height="254"></td>
  </tr>
  <tr>
    <td width="308" height="200" align="center" valign="top" bgcolor="#324868"><table width="92%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="padding-top:20px;padding-left:0px;" align="left"><img src="http://www.cipherkey.cn/Content/Home/images/cn_text_1.jpg"></td>
      </tr>
      <tr>
        <td align="left" valign="top" class="List4" style="line-height:160%;padding-top:10px;padding-left:5px;">
  <img src="http://www.cipherkey.cn/Content/Home/images/index_r6_c4.png" width="107" height="84" align="left">
快速消费品，<br>
耐用消费品(服装,奢侈品等)，<br>
通讯通信计算机，<br>
医药生物工程，电子制造，<br>
零售百货，汽车制造业，<br>
能源石油化工，
互联网电子商务，
房地产建筑建材，
广告公关媒体
</td>
      </tr>
    </table></td>
    <td align="center" valign="top" bgcolor="#324868" width="522" style="padding-top:15px;padding-bottom:10px"><table width="94%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" bgcolor="#1f334f" style="padding-top:10px;padding-left:10px;"><img src="http://www.cipherkey.cn/Content/Home/images/cn_text_2.jpg"></td>
      </tr>
      <tr>
        <td align="left" valign="top" bgcolor="#1f334f" class="List4" style="line-height:160%;padding-top:5px;padding:10px;" height=145>弗奇上信创办于2004年，由国内最早的一批猎头顾问和人力资源专家建立<br>
        弗奇上信专注于猎头咨询服务，我们的客户以跨国公司和国内大型民营企业为主，其中80%以上是我们的长期合作客户
		  <div align="right"><span onclick="javascript:location='about_us_cn.html'" class="bs"><u>更多</u></a>
		  </div>
          </td>
      </tr>
    </table></td>
  </tr>
</table>
{% endblock %}