{% extends "layout.html" %}
{% block body %}

<table width="830" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="208" height="200" align="right" valign="top" bgcolor="#B8B67D">
	<br>
	<table width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="List2">加入我们</td>
      </tr>
    </table></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="6" cellspacing="0">
      <tr>
        <td align="right"><a href="index.html" class="STYLE7">首页</a> > <a href="join_us.html" class="STYLE7">加入我们</a></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="middle" style="padding-left:20px;"><span class="STYLE1">加入我们</span></td>
          <!--<td width="300" height="90"><img src="/Content/Home/images/join us.jpg" width="300" height="90"></td>-->
        </tr>
      </table>
	  <br>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:200%;font-size:12px"><p>
顾问行业是知识密集的行业，企业发展的决定因素不是物资资本的规模，而是人力资本的数量和质量。我们在为客户搜寻人才，我们也在为自身的发展搜寻合适的人才。
在上锐韦森, 我们相信员工绩效最终取决于人的工作能力、工作意愿以及人与人之间的协同效率。因此，我们不仅提供一份工作，更希望帮助员工追求幸福生活。<p>
<font style="font-family:Webdings;">4</font>&nbsp;我们以开放的心态，尊重每一个“自我”!<br>
<font style="font-family:Webdings;">4</font>&nbsp;我们以己为镜，通过持续改进收获更圆满的人生!<br>
<font style="font-family:Webdings;">4</font>&nbsp;我们帮助每个员工实现“自我”，超越“自我”!<br>
<font style="font-family:Webdings;">4</font>&nbsp;我们追求人生的双赢，以更具创造性的智慧解决冲突!<p>

加入上锐韦森，与我们一同成长 <p>

<b><li>顾问</li></b><br>
拥有三年以上猎头行业的服务经验，有强烈的事业心和成就动机。 <p>

<b><li>合伙人</li></b> <br>
了解顾问服务的各行业资深人士，有创业的愿望，但没有创业的平台。<p>

<b><li>管理培训生</li></b> <br>
具有优秀的基本素质，认同上锐韦森（Surfvision Management Consulting）的价值观，希望通过上锐韦森的培训计划开始职业生涯。 <p>

价值观使我们能团结一致，整合成一支优秀的团队。 <p>


如果您想了解更多关于上锐韦森（Surfvision Management Consulting）的职业信息，请通过<a href="mailto:hr@surfvision.cn">hr@surfvision.cn</a>和我们联系。谢谢！<p>

</p></td>
  </tr>
</table>
<br>
<br>
<br>

          </td>
        </tr>
      </table></td>
  </tr>
</table>

{% endblock %}