{% extends "layout.html" %}
{% block body %}

<table width="830" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="208" height="200" align="right" valign="top" bgcolor="#B8B67D">
	<br>
	<table width="90%" border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td class="List2"><span onclick="javascript:location='about_us_cn.html'" class="List2">公司概览</span></td>
      </tr>
	  <tr>
        <td class="List2"><span onclick="javascript:location='values_cn.html'" class="List2">我们的价值观</span></td>
      </tr>
    </table></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="6" cellspacing="0">
      <tr>
        <td align="right"><a href="index_cn.html" class="STYLE7">首页</a> > <a href="about_us_cn.html" class="STYLE7">关于我们</a> > <a href="about_us_cn.html" class="STYLE7">公司概览</a></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="middle" style="padding-left:20px;"><span class="STYLE1">公司概览</span></td>
          <td width="300" height="90"><img src="http://www.cipherkey.cn/Content/Home/images/about us.jpg" width="300" height="90"></td>
        </tr>
      </table>
	  <br>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:200%;font-size:12px"><p>
弗奇上信成立于2004年，以北京，上海为中心，人才搜寻范围覆盖中国主要城市，是中国领先的人才搜寻服务公司之一。<p>


在这些领域（快速消费品，高科技通讯，医药医疗，电子制造，互联网，房地产，零售和奢侈品等行业），每个客户经理带领团队（顾问，搜寻调研员等）专注搜寻选才某些职位如：总经理，人事，销售，市场，财务，技术，采购，物流等。弗奇上信已经在中国为客户搜寻选才完成许多重要的职位，这些职位从高级管理层到中层主管级别及部分专业性职位。<p>


我们从涵盖各商业领域及职能范围的招聘工作中获得了丰富的经验。同时，我们也通过这些经验，证明了我们在中国超过六十个城市的招聘委托操作能力。无论是从全球五百强的跨国公司，还是各类国内优秀的民营企业，又或是亟待蓬勃的新兴企业，都获得过我们优质的服务。<p>


我们的客户之所以选择弗奇上信，是因为我们能为他们提供准确高效而快速的人才招聘服务，通过我们卓越的服务表现与客户保持长期的合作关系。 <p>


弗奇上信一直保持着快速而稳健的发展。在这个过程当中，我们对公司的定位有清晰的认知：人才推荐服务不是因应招聘的紧迫性而提供一些“应急人才”，而是尽我们所能，通过服务，为客户提供更多的价值——帮助我们的客户在生意及个人职业发展上获得成功。<p>

</p></td>
  </tr>
</table>
<br>
<br>
<br>

          </td>
        </tr>
      </table></td>
  </tr>
</table>
{% endblock %}