{% extends "layout.html" %}
{% block body %}



<table width="830" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="208" height="200" align="right" valign="top" bgcolor="#324868">
	<br>
	<table width="90%" border="0" cellspacing="0" cellpadding="0">
     <tr>
        <td class="List2"><span onclick="javascript:location='about_us_cn.html'" class="List2">公司概览</span></td>
      </tr>
	  <tr>
        <td class="List2"><span onclick="javascript:location='values_cn.html'" class="List2">我们的价值观</span></td>
      </tr>
    </table></td>
    <td align="center" valign="top" bgcolor="#FFFFFF"><table width="98%" border="0" align="center" cellpadding="6" cellspacing="0">
      <tr>
        <td align="right"><a href="index_cn.html" class="STYLE7">首页</a> > <a href="about_us_cn.html" class="STYLE7">关于我们</a> > <a href="values_cn.html" class="STYLE7">我们的价值观</a></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="middle" style="padding-left:20px;"><span class="STYLE1">我们的价值观</span></td>
          <td width="300" height="90"><img src="http://www.cipherkey.cn/Content/Home/images/about us.jpg" width="300" height="90"></td>
        </tr>
      </table>
	  <br>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="line-height:200%;font-size:12px"><p>
成功的企业离不开优秀的团队，优秀的团队是靠企业的价值观凝聚的。<p>


<li>	 我们相信内心追求带来的前进动力</li><br>
人有时会因为来自外部的压力而采取行动，但我们相信，由内心追求而产生的推动力会更为持久。 <br>
因此，我们力图在充分照顾个人目标基础上实现企业目标管理，而不是单纯依靠规章制度。<p>


<li>	工作应当是充满乐趣的</li><br>
我们推崇工作-生活相互融合的文化，而不是将工作和生活作为对立面来进行平衡。<br>
我们一直在努力将弗奇上信建设成一个能让员工享受工作、享受生活的组织。<p>


<li>发挥员工的激情、勇气和潜能</li><br>
我们相信，成功更多是来自于彼此间的互信互助，而不仅是个人能力的发挥。 <br>
我们通过激发每个人的激情和勇气，发挥我们与生俱来的潜能。 <p>


弗奇上信的使命 <br>
<li>	帮助客户成功</li><br>
<li>	坚持我们专业且注重实效的工作态度</li><br>
<li>	与每位与我们合作的人分享我们在事业上的成功</li><br>
<li>	成为中国客户招聘第一选择,客户人力资源招聘的合作伙伴</li><p>


弗奇上信的工作传统 <br>
<li>	勤奋地工作</li> <br>
只有勤奋的工作才能带来更大的成就。<p>


<li>	聪明地，细致地工作</li><p>

<li>	团队合作</li><br>
我们相信，一群平凡的个体在一个合适的上进的团队能成就不平凡的事业。

</p></td>
  </tr>
</table>
<br>
<br>
<br>

          </td>
        </tr>
      </table></td>
  </tr>
</table>

{% endblock %}
